# Ignore for environment
anaconda3

# Ignore for normal folders
Desktop
Documents
Downloads
Music
Pictures
Templates
Video
Zotero
Workspace

# Ingore for dotfiles
.bash_history
.bash_logout
.bash_profile
.cache
.bundle
.cargo
.conda
.config-att
.conkyrc
.dmrc
.emacs.d
.face
.fehbg
.gems
.gitconfig
.gtkrc-2.0
.local
.julia
.keras
.mozilla
.npm
.nv
.profile
.python_history
.rustup
.screenrc
.vscode
.wget-hsts
.Xauthority
.xinitrc
.Xresources
.xsession
.xsessionrc
.zcompdump-msi-gl63-5.9
.zcompdump-msi-gl63-5.9.zwc
.zsh_history
.zshrc.bak
.zshenv
.bashrc.bak
.pki
.gnupg
.ipython
.stack
.meteor
.meteorsession
.ssh
.condarc
.nvidia-settings-rc
.java
.jupyter
.config/GeoGebra/
*.mp4
.librewolf
.newsboat
.fzf
.vim
.viminfo
.moc
.zoom

# Ignore for software
opt
gurobi.lic
Unknown Organization
cef_user_data
zoom.conf
zoomus.conf

# Ingore for .config
autostart
archlinux-logout
archlinux-tweak-tool
arcolinux-welcome-app
coc
Code
conky
dconf
galculator
gconf
gh
htop
ibus
ibus-bamboo
Kvantum
neofetch
paru
nomacs
pavucontrol.ini
qt5ct
ranger
Thunar
Trolltech.conf
user-dirs.locale
yad.conf
xfce4
variety
pulse
alacritty.yml.bak
dwm
slstatus
st
obs-studio
skypeforlinux
epdfview
GeoGebra
kritadisplayrc
kritarc
octave
playlists

# Ignore for C-compile files
*.o
*.tdb

# Ignore for Xmonad
build-x86_64-linux
xmonad-x86_64-linux
xmonad.errors

# Ignore for image file
*.jpg
*.png

# Ignore for GKT
bookmarks

# Ignore for pulse
